header {
  background-color: pink;
}

body {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.recipe ul {
  list-style-type: disc;
}

.recipe ul li {
  margin-left: 1rem;
}

.ingredientsList ul {
  list-style-type: disc;
}

.ingredientsList li {
  margin-left: 1.5rem;
}


h1 {
  font-weight: bold;
  font-size: 3rem;
  color: black;
  text-align: center;
  margin: 1rem;
  font-family: Agbalumo;
}

.recipesAndDishesWrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.dish {
  background-color: aqua;
  margin-bottom: 1rem;
}

#textfield {
  border-radius: 30px;
  border: 1px solid black;
  background-color: transparent;
  width: 19rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: blue;
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
  margin: 0 auto;
}

#form {
  position: relative;
}

.buttons {
  margin: 0 auto;
  width: 19rem;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 50%;
}

.searchButton {
  position: absolute;
  top: 7px;
  left: 110px;
}

.addButton {
  position: absolute;
  top: 7px;
  left: -145px;
}

.resetButton {
  position: absolute;
  top: 7px;
  left: 130px;
}

.suggestionsWrapper {
  display: flex;
  flex-direction: column;
  width: 16rem;
  margin: 0 auto;
}

.suggestionButton {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
  height: 2rem;
}